/* --------------- */
/* GENERAL STYLING */
/* --------------- */

html {
    position: relative;
    min-height: 100%;
    min-width: 550px;
}

body {
    font-family: "Calibri Light", Calibri, sans-serif;
    background-color: #ece8f0;
}

.bishops-purple-text {
    color: #4e2683; /* bishops purple */
}

a, a:link, a:visited, a:active {
    color: #4e2683; /* bishops purple */
}

a:hover {
    color: #763ab5; /* lighter bishops purple */
}


/* Header */
.header {
    background-color: #222;
    border-bottom: 5px solid #553b52; /* amps purple */
    color: #cca135; /* golden */
    
    /*
    position: fixed;
    top:0;
    width:100%;
    /*-------- Uncomment above for fixed header (plus the margin in content below) ------- */
}

.navbar-inner {
    margin: 0 10px;
}

.nav-item {
    padding: 0 10px;
    margin:0 10px;
}

.nav-link {
    text-align: center;
    font-size: 115%;
}

.nav-item a, .nav-item a:visited {
    color: #836926; /* darker golden */
}

.nav-item a:hover {
    color: #e6bb47; /* lighter golden */
}

.navbar-nav .active, .navbar-nav .active:visited {
    color: #e6bb47; /* golden */
}

.navbar-brand { /* image or text (at different sizes)*/
    margin: 10px;
    text-align: center;
}

.navbar-icon {
    color: #e6bb47; /* golden */
    text-align: center; 
    text-justify: center; 
    font-size: 140%;
}

.navbar-toggler {
    border: 3px solid #836926;  /* darker golden */
    border-radius: 10px;
}

.navbar-toggler:active {
    border: 3px solid #cca135;  /* golden */
    border-radius: 10px;
}

.navbar-nav {
    /*border-top: 2px solid #3e1e63;
    border-bottom: 2px solid #3e1e63;*/
    margin: 5px 0;
}

/* Content */
.content {
    margin:50px;
    padding:25px;
    background: #fff;   /* white */
    
    /*margin-top:215px; 
    /*-------- Uncomment above for fixed header (plus, the stuff in .header) ------- */
}

.content-header h1 {
    text-align: center;
    padding: 5px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.content-header h2 {
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 75px;
}

.subcontent-group {
    margin-top: 50px;
    margin-bottom: 10px;
}

.subsubcontent {
    margin: 10px;
}

.subsubcontent p {
    margin-bottom: 25px;
    text-align: justify;
    font-size:105%;
}

/* Footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #ece8f0;
}


/* ------------ */
/* HOME content */
/* ------------ */

#home-content {}


#home-meet-the-team .col {
    text-align: center;
}

.home-meet-the-team-item div {
    padding: 5px;
}

.home-meet-the-team-item-header h4 {
    font-weight: normal;
}

.home-meet-the-team-item-subheader span {
    font-weight: bold;
}

.home-meet-the-team-item-img img {
    margin:10px;
}

.home-meet-the-team-item-caption span {
    font-style: italic;
}

.home-meet-the-team-item-img img, .home-meet-the-team-item-header h4, .home-meet-the-team-item-subheader span, .home-meet-the-team-item-caption p {
    width: 300px;
    text-align: start;
}

.home-meet-the-team-item-caption p {
    font-size: 100%;
    text-align: justify;
}


/* ----------------- */
/* ASTRONOMY content */
/* ----------------- */

#astronomy-content {}


/* ------------ */
/* MATH content */
/* ------------ */

#math-content {}


/* --------------- */
/* PHYSICS content */
/* --------------- */

#physics-content {}


/* -------------- */
/* EVENTS content */
/* -------------- */

#events-content {}


/* --------------- */
/* CONTACT content */
/* --------------- */

#contact-content  {}

#contact-content a {
    text-decoration: none;
}

#contact-socialmedia * {
    text-align: center;
}

