/* --------------- */
/* GENERAL STYLING */
/* --------------- */

html {
    position: relative;
    min-height: 100%;
    min-width: 550px;
}

body {
    font-family: "Calibri Light", Calibri, sans-serif;
}

.bishops-purple-text {
    color: #4e2683;
}


/* Header */
.header {
    background-color: #222;
    border-bottom: 5px solid #4e2683;
}

.navbar-inner {
    margin: 0 10px;
}

.nav-item {
    padding: 0 10px;
    margin:0 10px;
    
}

.nav-link {
    text-align: center;
    font-size: 115%;
}

.active {
    color: #ffd500;
}


.navbar-brand { /* image or text (at different sizes)*/
    margin: 10px;
    text-align: center;
}


/* Content */
.content {
    margin:50px;
    padding:25px;
    background: #fff;
}

/* Footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #eee;
}


/* ------------ */
/* HOME content */
/* ------------ */

#home-content div h1 {
    text-align: center;
    padding: 5px;
    margin-bottom: 30px;
}

#home-content div h2 {
    text-align: center;
    padding: 5px;
    margin: 10px 0;
}


.home-meet-the-team-item {
    text-align: center;
    
}

.home-meet-the-team-item div {
    padding: 5px;
}

.home-meet-the-team-item-header h5 {
    font-weight: bolder;
}

.home-meet-the-team-item-img img {
    width: 200px;
}

